RewriteEngine On
Options -MultiViews

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://mps-hrms.mpeoplesnet.com%{REQUEST_URI} [L,R=301]

# React Routing Fix
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]